NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_TRIAL_PERIOD_PASSWORD=MemeAREA@)@%2049
NEXT_PUBLIC_BACKEND_URL=https://multievm-valmira.blockvalidtest.com
# NEXT_PUBLIC_BACKEND_URL=https://valmira.blockvalidtest.com
# NEXT_PUBLIC_BACKEND_URL=http://localhost:5000
NEXT_PUBLIC_BSC_RPC_URL=https://bnb-mainnet.g.alchemy.com/v2/ktN8pOuU45wRNUpOb-QeXzl3Hbn2yGeX
NEXT_PUBLIC_ETH_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/ktN8pOuU45wRNUpOb-QeXzl3Hbn2yGeX