# Ignore artifacts:
build
dist
coverage
node_modules

# Ignore configuration files potentially modified by tools:
package-lock.json
yarn.lock

# Ignore other specific files or directories if needed:
# **/vendor/*.js 